@import "tailwindcss";

@layer base {
  :root {
    --primary: #2563eb;
    --secondary: #64748b;
    --accent: #eab308;
    --bg-body: #f8fafc;
    --bg-paper: #ffffff;
    --text-main: #0f172a;
    --text-muted: #475569;
    --border: #e2e8f0;
  }

  html {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
      "Segoe UI Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-slate-50 text-slate-900;
  }
}
